<div class='row'>
  <%= render 'layouts/sidebar' %>
  <div class='col-md-8 offset-md-1 mt-3'>
    <h3><%= @day.to_date.strftime("%m月%d日") %>の予約一覧</h3>
    <div class="row">
      <% @employees.each do |employee| %>
        <% if !employee.is_deleted %>
        <div class="col-lg-6">
          <%= employee.name %>
          <% if employee.appointments_list_on_charge(employee.id, @day).present? %>
            <% employee.appointments_list_on_charge(employee.id, @day).each do |appointment| %>
              <%= render 'index', appointment: appointment %>
            <% end %>
          <% else %>
            ：予約はありません
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
