<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="mini-title">予約一覧</div>
        <% @employees.each do |employee| %>
          <%= employee.name %>
          <% employee.appointments.where(hoge_id: employee.id, apo_date: Date.parse(@day)).order(appointment_date: "ASC").each do |appointment| %>
            <%= render 'index', appointment: appointment %>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
