<div><%= link_to "スタッフ追加" , admin_employees_path %></div>
<div><%= link_to "感染症項目追加", admin_infections_path %></div>
<div><%= link_to "治療項目追加", admin_treatments_path %></div>
<div><%= link_to "症状項目追加", admin_symptoms_path %></div>