<div class="search-form">
  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="patient-index">
  <% @patients.each do |patient| %>
    <%= link_to patient.last_name_kana, admin_patient_path(patient.id) %>
  <% end %>
</div>