@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Simple Calender Layout Change
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wday-0 {
  background-color: #AFD0FA;
}

.wday-6 {
  background-color: #BDB7F5;
}

body {
  height: 100%;
  margin: 0;
  background-color: #EDEFF5;
}

// main {
//   background-color: #EDEFF5;
//   width: 100%; /* 横幅いっぱい */
//   min-height: calc(100vh - 56px);
// }

a {
  color: black;
}

header {
  background-color: #C5E9FA;
}

.sidebar-all {
  background-color: #C5E9FA;
  min-height: calc(100vh - 56px);
}

@media screen and (max-width: 1199.98px) {}
@media screen and (max-width: 991.98px) {}
@media screen and (max-width: 767.98px) {
  .sidebar-all {
    background-color: #96B1F5;
    min-height: auto;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 575.98px) {}

.navbar-brand {
  margin-right: auto;
}

h3 {
  position: relative;
  padding-left: 25px;
}

h3:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  // border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}

h3:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.table_line {
		display: table;
		width: 600px;
	}

.block {
		display: table-cell;
		border: solid 1px #999;
		width: 200px;
		height: 20px;
	}

.card-infection {
  background-color: #FAF599;
}