<!--未ログインのヘッダー、ルートページに遷移-->
<nav class="navbar navbar-light px-0" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag 'dentalapo2.png', :size => '140x30' %></a>
  </div>
</nav>
