<% if obj.errors.any? %>
  <div id="error_explanation" class="alert alert-secondary">
    <ul class="ul-non-padding ul-non-margin">
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>