<nav class="navbar navbar-light px-0" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/public/top"><%= image_tag 'dentalapo2.png', :size => '140x30' %></a>
    <%#= link_to root_path, class: 'navbar-brand' do %>
      <%#= image_tag 'dentalapo2.png', :size => '140x30' %>
    <%# end %>
      <div class="menu mx-2">
        <ul class="navbar-nav">
          <li class="nav-item">
          </li>
        </ul>
      </div>

  </div>
</nav>
