<div class='col-md-1 sidebar-all'>
  <div class="sidebar mb-2 mb-md-3 mt-0 mt-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_appointments_path(day: Date.current.strftime('%Y-%m-%d')) do %>
          予約一覧<i class="fas fa-tooth ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to new_admin_patient_path do %>
          患者登録<i class="fas fa-user-plus ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_patients_path do %>
          患者一覧<i class="fas fa-users ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_item_path do %>
          項目編集<i class="fas fa-pencil-alt ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

