<div class='col-md-2 sidebar-all'>

  <div class="sidebar mb-3 mt-3">
  <div class="row">
    <div class="col">
      <%= link_to admin_appointments_path(day: Date.current.strftime('%Y-%m-%d')) do %>
        予約一覧<i class="fas fa-teeth-open"></i>
      <% end %>
    </div>
  </div>
  </div>

  <div class="sidebar mb-3">
  <div class="row">
    <div class="col">
      <%= link_to new_admin_patient_path do %>
        患者登録<i class="fas fa-user-plus"></i>
      <% end %>
    </div>
  </div>
  </div>

  <div class="sidebar mb-3">
  <div class="row">
    <div class="col">
      <%= link_to admin_patients_path do %>
        患者一覧<i class="fas fa-users"></i>
      <% end %>
    </div>
  </div>
  </div>

  <div class="sidebar mb-3">
  <div class="row">
    <div class="col">
      <%= link_to admin_item_path do %>
        項目追加<i class="fas fa-pencil-alt"></i>
      <% end %>
    </div>
  </div>
  </div>
</div>

