<table class='table'>
  <tr>
    <td>
      <%= link_to "患者登録", new_admin_patient_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "患者一覧", admin_patients_path %>
    </td>
  </tr>
	<tr>
	  <td>
	    <%= link_to "予約取得", new_admin_appointment_path %>
	  </td>
	</tr>
	<tr>
	  <td>
	    <%= link_to "予約一覧", admin_appointments_path %>
	  </td>
  </tr>
  <tr>
    <td>項目追加</td>
  </tr>
</table>